<% include header %>
  <div class="ui main container">

    <div class="padding">
      <h1>
        <%=contest.title%>
      </h1>
      <div style="margin-bottom: 30px;">
        <div style="position: relative; overflow: hidden; ">
          <p>
            <%=contest.description%>管理员很懒，什么页没写！</p>
        </div>
      </div>

      <div class="ui grid">
        <div class="row">
          <div class="column">
            <div class="ui buttons">

              <a class="ui small blue button" href="/contests/<%=contest.contest_id%>/ranklist">排行榜</a>


              <a class="ui small positive button" href="/submissions?contest_id=<%=contest.contest_id%>">提交记录</a>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <h4 class="ui top attached block header">信息与公告</h4>
            <div class="ui bottom attached segment font-content">
              <div style="position: relative; overflow: hidden; ">
                <p>
                  <strong>
                    <a href="">公告</a>
                  </strong>
                </p>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="column">
            <table class="ui selectable celled table">
              <thead>
                <tr>
                  <th class="one wide" style="text-align: center">状态</th>
                  <th class="one wide">编号</th>
                  <th>题目</th>

                  <th class="one wide center aligned">统计</th>

                </tr>
              </thead>
              <tbody>
                <%problems.forEach(function(item,index){%>
                  <tr>
                    <td class="center aligned" style="white-space: nowrap; ">

                    </td>
                    <td><%=index%> </td>
                    <td>
                      <a href="/contests/<%=contest.contest_id%>/problem/<%=item.pid%>?pnum=<%=index%>">
                        <%=item.title%>
                      </a>
                    </td>
                    <td class="center aligned" style="white-space: nowrap; ">
                      <a href="/contest/31/submissions?problem_id=1&amp;status=Accepted"><%if(item.accepted){%><%=item.accepted%><%}else{%>0<%}%></a>
                      /
                      <a href="/contest/31/submissions?problem_id=1&amp;min_score=1"><%if(item.submit){%><%=item.submit%><%}else{%>0<%}%></a>
                    </td>
                  </tr>
                  <%});%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
<% include footer %>