    <% include header %>
    <div class="ui main container">
        <style>
            .ace_cursor {
                border-left-width: 1px !important;
                color: #000 !important;
            }

            #languages-menu::-webkit-scrollbar,
            #testcase-menu::-webkit-scrollbar {
                width: 0px;
                background: transparent;
            }

            div[class*=ace_br] {
                border-radius: 0 !important;
            }
        </style>
        <script src="https://dn-menci.qbox.me/libreoj/libs/ace/ace.js"></script>
        <div class="ui center aligned grid">
            <div class="row">
                <h1 class="ui header"> #<%=problem.problem_id%>. <%=problem.title%></h1>
            </div>
            <div class="row" style="margin-top: -15px">
                <span class="ui label">内存限制：<%=problem.memory_limit%> MiB</span>
                <span class="ui label">时间限制：<%=problem.time_limit%> s</span>
                <span class="ui label">标准输入输出</span>
            </div>
            <div class="row" style="margin-top: -23px">
                <span class="ui label">题目类型：传统</span>
                <span class="ui label">评测方式：文本比较</span>
            </div>
            <!--
            <div class="row" style="margin-top: -23px">
                <span class="ui label">上传者： 匿名 </span>
            </div>-->
        </div>
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <div class="ui buttons">
                        <a class="small ui primary button" href="#submit_code">提交</a>
                        <a class="small ui positive button" href="/submissions?problem_id=1">提交记录</a>
                        <a class="small ui orange button" href="/problem/1/statistics/fastest">统计</a>
                        <a class="small ui brown button" href="/discussion/problem/1" style="position: relative; ">
                            讨论
                            <div class="floating ui red tiny circular label">1</div>
                        </a>
                        <a class="small ui yellow button" href="/problem/1/testdata">测试数据</a>
                        <a class="small ui teal button" href="/problem/1/download/additional_file">附加文件</a>
                    </div>
                    <div class="ui buttons right floated"> </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="ui top attached block header">题目描述</h4>
                    <div class="ui bottom attached segment font-content">
                        <div style="position: relative; overflow: hidden; ">
                            <%-problem.description%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="ui top attached block header">输入格式</h4>
                    <div class="ui bottom attached segment font-content">
                        <div style="position: relative; overflow: hidden; ">
                            <%-problem.input%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="ui top attached block header">输出格式</h4>
                    <div class="ui bottom attached segment font-content">
                        <div style="position: relative; overflow: hidden; ">
                            <%-problem.output%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="ui top attached block header">样例</h4>
                    <div class="ui bottom attached segment font-content">
                        <div style="position: relative; overflow: hidden; ">
                            <h4>&#x6837;&#x4F8B;&#x8F93;&#x5165;</h4>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code class="lang-plain"><%=problem.sample_input%></code></pre>
                            </div>
                            <h4>&#x6837;&#x4F8B;&#x8F93;&#x51FA;</h4>
                            <div class="ui existing segment">
                                <pre style="margin-top: 0; margin-bottom: 0; "><code class="lang-plain"><%=problem.sample_output%></code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="ui top attached block header">数据范围与提示</h4>
                    <div class="ui bottom attached segment font-content">
                        <div style="position: relative; overflow: hidden; ">
                            <%-problem.hnit%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <h4 class="ui block header" id="show_tag_title_div" style="margin-bottom: 0; margin-left: -1px; margin-right: -1px; ">
                        <a href="#" id="show_tag_button" style="color: #000; ">显示分类标签</a>
                    </h4>
                    <div class="ui bottom attached segment" style="display: none; " id="show_tag_div">
                        <a href="/problems/tag/1" class="ui medium black label"><%=problem.source%></a>
                    </div>
                </div>
            </div>
            <script>    $(function () { $('#show_tag_button').click(function (e) { e.preventDefault(); $('#show_tag_title_div').addClass('top'); $('#show_tag_title_div').addClass('top attached'); $('#show_tag_title_div').text('分类标签'); $('#show_tag_div').css('display', ''); }) });    </script>
            <div class="row">
                <div class="column">
                    <form class="ui form" id="submit_code" action="/" method="post">
                        <div class="field">
                            <h4 class="ui top attached block header">代码</h4>
                            <textarea style="margin-top: 0px; margin-bottom: 0px; height: 213px;" class="ui bottom attached segment font-content" name="code"></textarea>
                        </div>
                        <div class="field">
                        <button class="ui submit button">提交</button>
                        </div>
                    </from>
                </div>
            </div>
        </div>
        
    </div>

<% include footer %>