<% include header %>
<div class="ui main container">
<div class="padding">
  

  <form action="/submissions" class="ui mini form" method="get" role="form" id="form">
    <input type="hidden" name="contest_id" value="" />
    <div class="inline fields" style="margin-bottom: 25px; white-space: nowrap; ">
      <label style="font-size: 1.2em; margin-right: 1px; ">题目：</label>
      <div class="field"><input name="problem_id" style="width: 50px; " type="text" value="<%=query.pid%>"></div>
          <label style="font-size: 1.2em; margin-right: 1px; ">提交者：</label>
        <div class="field"><input name="user_id" style="width: 100px; " type="text" value="<%=query.uid%>"></div>
            <label style="font-size: 1.2em; margin-right: 1px; ">分数：</label>
        <div class="field" style="padding-right: 6px; "><input name="min_score" style="width: 45px; " type="text" value="0"></div>
        <label style="font-size: 1.2em; margin-right: 7px; ">～</label>
        <div class="field"><input name="max_score" style="width: 45px; " type="text" value="100"></div>
        <label style="font-size: 1.2em; margin-right: 1px; ">语言：</label>
      <div class="field">
        <div class="ui fluid selection dropdown" id="select_language" style="width: 110px; ">
          <input type="hidden" name="language" value="<%=query.lan%>">
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu">
            <div class="item" data-value="">不限</div>
            <div class="item" data-value="0">C</div>
              <div class="item" data-value="1">C++</div>
              <div class="item" data-value="3">Java</div>
              <div class="item" data-value="2">Pascal</div>
              <div class="item" data-value="4">C</div>
              <div class="item" data-value="8">Lua</div>
              <div class="item" data-value="9">LuaJIT</div>
              <div class="item" data-value="10">Python 2</div>
              <div class="item" data-value="11">Python 3</div>
              <div class="item" data-value="12">Node.js</div>
              <div class="item" data-value="13">Ruby</div>
              <div class="item" data-value="14">Haskell</div>
              <div class="item" data-value="15">OCaml</div>
              <div class="item" data-value="16">Visual Basic</div>
          </div>
        </div>
      </div>
          <label style="font-size: 1.2em; margin-right: 1px; ">状态：</label>
        <div class="field">
          <div class="ui fluid selection dropdown" id="select_status" style="width: 210px; ">
            <input type="hidden" name="status" value="<%=query.sta%>">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu">
              <div class="item" data-value="">不限<i class="dropdown icon" style="visibility: hidden; "></i></div>
                  <div class="item" data-value="4"><span class="status accepted"><i class="checkmark green icon"></i> Accepted</span></div>
                    <div class="item" data-value="6"><span class="status wrong_answer"><i class="remove red icon"></i> Wrong Answer</div>
                  <div class="item" data-value="10"><span class="status runtime_error"><i class="bomb purple icon"></i> Runtime Error</div>
                  <div class="item" data-value="Invalid Interaction"><span class="status invalid_interaction"><i class="ban pink icon"></i> Pattern Error</div>
                  <div class="item" data-value="7"><span class="status time_limit_exceeded"><i class="clock yellow icon"></i> Time Limit Exceeded</div>
                  <div class="item" data-value="8"><span class="status memory_limit_exceeded"><i class="microchip orange icon"></i> Memory Limit Exceeded</div>
                  <div class="item" data-value="9"><span class="status output_limit_exceeded"><i class="print olive icon"></i> Output Limit Exceeded</div>
                  <div class="item" data-value="File Error"><span class="status file_error"><i class="file outline blue icon"></i> File Error</div>
                  <div class="item" data-value="0"><span class="status waiting"><i class="hourglass half teal icon"></i> Waiting</div>
                  <div class="item" data-value="1"><span class="status running"><i class="spinner violet icon"></i> Running</div>
                  <div class="item" data-value="2"><span class="status compiling"><i class="spinner brown icon"></i> Compiling</div>
                  <div class="item" data-value="11"><span class="status compile_error"><i class="code grey icon"></i> Compile Error</div>
                    <div class="item" data-value="13"><span class="status system_error"><i class="server black icon"></i> System Error</div>
                  <div class="item" data-value="No Testdata"><span class="status no_testdata"><i class="folder open outline icon"></i> No Testdata</div>
                  <div class="item" data-value="Partially Correct"><span class="status partially_correct"><i class="minus icon"></i> Partially Correct</div>
                  <div class="item" data-value="Judgement Failed"><span class="status judgement_failed"><i class="server icon"></i> Judgement Failed</div>
                  <div class="item" data-value="Skipped"><span class="status skipped"><i class="ban icon"></i> Skipped</div>
            </div>
          </div>
        </div>
        <button class="ui labeled icon mini button" type="submit">
        <i class="search icon"></i>
        查询
      </button>
      </div>
  </form>
  <table id="vueAppFuckSafari" class="ui very white center aligned table selectable" style="white-space: nowrap; " id="table">
    <thead>
      <tr>
        <th>编号</th>
        <th>题目</th>
        <th>状态</th>
        <th v-if="displayConfig.showScore">分数</th>
        <th v-if="displayConfig.showUsage">总时间</th>
        <th v-if="displayConfig.showUsage">内存</th>
        <th v-if="displayConfig.showCode">代码 / 答案文件</th>
        <th>提交者</th>
        <th>提交时间</th>
      </tr>
    </thead>
    <tbody>
    <%submissions.forEach(function(item){%>
      <tr>
      <td><a href="/submissions/<%=item.solution_id%>">#<%=item.solution_id%></a></td>
      <td><a href="/problems/<%=item.problem_id%>">#<%=item.problem_id%>.</a></td>
      <td>
      <%if(item.result==0){%>
      <i class="hourglass half teal icon"></i> Waiting
      <%}else if(item.result==1){%>
      <i class="spinner violet icon"></i> Running
      <%}else if(item.result==2){%>
      <i class="spinner brown icon"></i> Compiling
      <%}else if(item.result==4){%>
      <i class="checkmark green icon"></i> Accepted
      <%}else if(item.result==5){%>
      <i class="ban pink icon"></i> Pattern Error
      <%}else if(item.result==6){%>
      <i class="remove red icon"></i>Wrong Answer
      <%}else if(item.result==7){%>
      <i class="clock yellow icon"></i> Time Limit Exceeded
      <%}else if(item.result==8){%>
      <i class="microchip orange icon"></i> Memory Limit Exceeded
      <%}else if(item.result==9){%>
      <i class="print olive icon"></i> Output Limit Exceeded
      <%}else if(item.result==10){%>
      <i class="bomb purple icon"></i> Runtime Error
      <%}else if(item.result==11){%>
      <i class="code grey icon"></i> Compile Error
      <%}else if(item.result==13){%>
      <i class="server black icon"></i> System Error
      <%}else{%>
      <i class="hourglass half teal icon"></i> Waiting
      <%}%>
      </td>
      <td><%=(parseInt(item.pass_rate*100)).toFixed(0)%></td>
      <td><%=item.time%>MS</td>
      <td><%=item.memory%>KB</td>
      <td>
      <%if(loginuser==item.user_id || privilege==255){%><a href=""><%}%>
      <%if(item.language==1){%>
      C++
      <%}else if(item.language==2){%>
      Pascal
      <%}else if(item.language==3){%>
      Java
      <%}else if(item.language==0){%>
      C
      <%}%>
      <%if(loginuser==item.user_id || privilege==255){%></a><%}%>
      /<%=item.code_length%>B</td>
      <td class="one wide"><a href="/user/<%=item.user_id%>"><%=item.user_id%></a></td>
      <td class="one wide"><%=item.in_date%></td>
      </tr>
      <%});%>
    </tbody>
  </table>
  <br>
  
<div style="text-align: center; ">
  <div class="ui pagination menu" style="box-shadow: none; ">
    <a class=" <%if(parseInt(query.pages)==1){%>disabled<%}%> icon item" id="page_prev" href="/submissions?contest_id=<%query.cid%>&problem_id=<%=query.pid%>&user_id=<%=query.uid%>&language=<%query.lan%>&status=<%=query.sta%>&page=<%=query.page-1%>">
      <i class="left chevron icon"></i>
    </a>
    <%
    var ileft=0;
    var iright=0;
    %>
    <%for(var i=1; i<=query.pages; i++){%>
      <%if(query.pages>=18){%>
        <% if(Math.abs(i-query.page)<=4 || Math.abs(query.pages-i)<=4 || Math.abs(i)<=4){ %>
          <a class="<%if(parseInt(query.page)==i){%>active<%}%> item" href="/submissions?contest_id=<%=query.cid%>&problem_id=<%=query.pid%>&user_id=<%=query.uid%>&language=<%query.lan%>&status=<%=query.sta%>&page=<%=i%>"><%=i%></a>
        <%}else{ %>
          <%if(parseInt(i)<query.page && ileft==0){%>
            <%ileft=1%>
            <a class="item disabled" href="">....</a>
          <%}else if(parseInt(i)>query.page && iright==0){%>
            <%iright=1%>
            <a class="item disabled" href="">....</a>
          <%}%>
      <%}%>
      <%}else{%>
      <a class="<%if(parseInt(query.page)==i){%>active<%}%> item" href="/submissions?contest_id=<%=query.cid%>&problem_id=<%=query.pid%>&user_id=<%=query.uid%>&language=<%query.lan%>&status=<%=query.sta%>&page=<%=i%>"><%=i%></a>
      <%}%>
    <%}%>
    <a class="<%if(parseInt(query.pages)==query.page){%>disabled<%}%> icon item" href="/submissions?contest_id=<%=query.cid%>&problem_id=<%=query.pid%>&user_id=<%=query.uid%>&language=<%query.lan%>&status=<%=query.sta%>&page=<%=parseInt(query.page)+1%>" id="page_next">
      <i class="right chevron icon"></i>
    </a>
  </div>
</div>


</div>
<% include footer %>