<% include header %>
<div class="ui main container">
<div class="padding">
  

  <form action="/submissions/query" class="ui mini form" method="get" role="form" id="form">
    <input type="hidden" name="contest" value="" />
    <div class="inline fields" style="margin-bottom: 25px; white-space: nowrap; ">
      <label style="font-size: 1.2em; margin-right: 1px; ">题目：</label>
      <div class="field"><input name="problem_id" style="width: 50px; " type="text" value="<%=options.pid%>"></div>
          <label style="font-size: 1.2em; margin-right: 1px; ">提交者：</label>
        <div class="field"><input name="user_id" style="width: 100px; " type="text" value="<%=options.uid%>"></div>
            <label style="font-size: 1.2em; margin-right: 1px; ">分数：</label>
        <div class="field" style="padding-right: 6px; "><input name="min_score" style="width: 45px; " type="text" value="0"></div>
        <label style="font-size: 1.2em; margin-right: 7px; ">～</label>
        <div class="field"><input name="max_score" style="width: 45px; " type="text" value="100"></div>
        <label style="font-size: 1.2em; margin-right: 1px; ">语言：</label>
      <div class="field">
        <div class="ui fluid selection dropdown" id="select_language" style="width: 110px; ">
          <input type="hidden" name="language" value="<%=options.lan%>">
          <i class="dropdown icon"></i>
          <div class="default text"></div>
          <div class="menu">
            <div class="item" data-value="">不限</div>
            <div class="item" data-value="0">C</div>
              <div class="item" data-value="1">C++</div>
              <div class="item" data-value="3">Java</div>
              <div class="item" data-value="2">Pascal</div>
              <div class="item" data-value="4">C</div>
              <div class="item" data-value="8">Lua</div>
              <div class="item" data-value="9">LuaJIT</div>
              <div class="item" data-value="10">Python 2</div>
              <div class="item" data-value="11">Python 3</div>
              <div class="item" data-value="12">Node.js</div>
              <div class="item" data-value="13">Ruby</div>
              <div class="item" data-value="14">Haskell</div>
              <div class="item" data-value="15">OCaml</div>
              <div class="item" data-value="16">Visual Basic</div>
          </div>
        </div>
      </div>
          <label style="font-size: 1.2em; margin-right: 1px; ">状态：</label>
        <div class="field">
          <div class="ui fluid selection dropdown" id="select_status" style="width: 210px; ">
            <input type="hidden" name="status" value="<%=options.sta%>">
            <i class="dropdown icon"></i>
            <div class="default text"></div>
            <div class="menu">
              <div class="item" data-value="">不限<i class="dropdown icon" style="visibility: hidden; "></i></div>
                  <div class="item" data-value="4"><span class="status accepted"><i class="checkmark icon"></i> Accepted</div>
                    <div class="item" data-value="6"><span class="status wrong_answer"><i class="remove icon"></i> Wrong Answer</div>
                  <div class="item" data-value="10"><span class="status runtime_error"><i class="bomb icon"></i> Runtime Error</div>
                  <div class="item" data-value="Invalid Interaction"><span class="status invalid_interaction"><i class="ban icon"></i> Invalid Interaction</div>
                  <div class="item" data-value="7"><span class="status time_limit_exceeded"><i class="clock icon"></i> Time Limit Exceeded</div>
                  <div class="item" data-value="8"><span class="status memory_limit_exceeded"><i class="microchip icon"></i> Memory Limit Exceeded</div>
                  <div class="item" data-value="9"><span class="status output_limit_exceeded"><i class="print icon"></i> Output Limit Exceeded</div>
                  <div class="item" data-value="File Error"><span class="status file_error"><i class="file outline icon"></i> File Error</div>
                  <div class="item" data-value="0"><span class="status waiting"><i class="hourglass half icon"></i> Waiting</div>
                  <div class="item" data-value="1"><span class="status running"><i class="spinner icon"></i> Running</div>
                  <div class="item" data-value="2"><span class="status compiling"><i class="spinner icon"></i> Compiling</div>
                  <div class="item" data-value="11"><span class="status compile_error"><i class="code icon"></i> Compile Error</div>
                    <div class="item" data-value="13"><span class="status system_error"><i class="server icon"></i> System Error</div>
                  <div class="item" data-value="No Testdata"><span class="status no_testdata"><i class="folder open outline icon"></i> No Testdata</div>
                  <div class="item" data-value="Partially Correct"><span class="status partially_correct"><i class="minus icon"></i> Partially Correct</div>
                  <div class="item" data-value="Judgement Failed"><span class="status judgement_failed"><i class="server icon"></i> Judgement Failed</div>
                  <div class="item" data-value="Skipped"><span class="status skipped"><i class="ban icon"></i> Skipped</div>
            </div>
          </div>
        </div>
        <button class="ui labeled icon mini button" type="submit">
        <i class="search icon"></i>
        查询
      </button>
      </div>
  </form>
  <table id="vueAppFuckSafari" class="ui very basic center aligned table selectable" style="white-space: nowrap; " id="table">
    <thead>
      <tr>
        <th>编号</th>
        <th>题目</th>
        <th>状态</th>
        <th v-if="displayConfig.showScore">分数</th>
        <th v-if="displayConfig.showUsage">总时间</th>
        <th v-if="displayConfig.showUsage">内存</th>
        <th v-if="displayConfig.showCode">代码 / 答案文件</th>
        <th>提交者</th>
        <th>提交时间</th>
      </tr>
    </thead>
    <tbody>
    <%submissions.forEach(function(item){%>
      <tr>
      <td>#<%=item.solution_id%></td>
      <td><%=item.problem_id%></td>
      <td>
      <%if(item.result==0){%>
        Waiting
      <%}else if(item.result==1){%>
        Running
      <%}else if(item.result==2){%>
        Compile
      <%}else if(item.result==4){%>
        AC
      <%}else if(item.result==5){%>
        PE
      <%}else if(item.result==6){%>
        WA
      <%}else if(item.result==7){%>
        TLE
      <%}else if(item.result==8){%>
        MLE
      <%}else if(item.result==9){%>
        输出超限
      <%}else if(item.result==10){%>
        RE
      <%}else if(item.result==11){%>
        CE
      <%}else if(item.result==13){%>
        ERROR
      <%}else{%>
        running
      <%}%>
      </td>
      <td><%=(parseInt(item.pass_rate*100)).toFixed(0)%></td>
      <td><%=item.time%>MS</td>
      <td><%=item.memory%>KB</td>
      <td>
      <%if(item.language==1){%>
      C++
      <%}else if(item.language==2){%>
      Pascal
      <%}else if(item.language==3){%>
      Java
      <%}else if(item.language==0){%>
      C
      <%}%>
      /<%=item.code_length%>B</td>
      <td><%=item.user_id%></td>
      <td><%=item.in_date%></td>
      </tr>
      <%});%>
    </tbody>
  </table>
  <br>
  
<div style="text-align: center; ">
  <div class="ui pagination menu" style="box-shadow: none; ">
    <a class=" <%if(parseInt(pages)==1){%>disabled<%}%> icon item" id="page_prev">
      <i class="left chevron icon"></i>
    </a>
    <%
    var ileft=0;
    var iright=0;
    %>
    <%for(var i=1; i<=pages; i++){%>
      <%if(pages>=18){%>
        <% if(Math.abs(i-page)<=4 || Math.abs(pages-i)<=4 || Math.abs(i)<=4){ %>
          <a class="<%if(parseInt(page)==i){%>active<%}%> item" href="/submissions?page=<%=i%>"><%=i%></a>
        <%}else{ %>
          <%if(parseInt(i)<page && ileft==0){%>
            <%ileft=1%>
            <a class="item disabled" href="">....</a>
          <%}else if(parseInt(i)>page && iright==0){%>
            <%iright=1%>
            <a class="item disabled" href="">....</a>
          <%}%>
      <%}%>
      <%}%>
    <%}%>
    <a class="<%if(parseInt(pages)==page){%>disabled<%}%> icon item" href="/submissions?page=2" id="page_next">
      <i class="right chevron icon"></i>
    </a>
  </div>
</div>


</div>
<% include footer %>